.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.searchContainer {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 300px;
}

.searchButton, .sortButton {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}

.ordersList {
    list-style: none;
    padding: 0;
}

.orderItem {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.label {
    font-weight: bold;
}

.status {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

.right_side {
    display: flex;
    flex: 2 1;
    flex-direction: column;
    justify-content: start;
}

.right_side ol li:hover {
    text-underline-offset: 4px;
    text-decoration: underline;
}


.order_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 7 1;
}