.favbutton {
    @apply bg-black rounded-3xl bg-opacity-80 text-cyan-50 px-8 h-10 lg:h-auto lg:px-4 lg:py-2 text-sm transition-all hover:bg-opacity-70;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.promo {
    @apply flex justify-between items-center flex-col my-8 lg:flex-row gap-4
}

.promo input {
    @apply bg-transparent border-b lg:w-7/12 h-6 border-black outline-0 w-full px-2
}

.promo button {
    @apply p-2 bg-black text-back rounded-3xl px-8 bg-opacity-80 hover:bg-opacity-70 transition-all
}

.inputData {
    @apply w-full bg-main rounded-lg py-1 px-4 transition-all focus:shadow-lg focus:outline-0 placeholder-white hover:shadow-md
}

.step {
    @apply flex mx-auto gap-2 bg-main p-4 rounded-2xl
}

.button {
    @apply p-4 bg-black bg-opacity-80 text-back rounded-3xl hover:bg-opacity-70 transition-all
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center; /* Centers the grid items horizontally */
    grid-auto-flow: row dense; /* Automatically places items in rows */
}